name: Build Python application
on: # multiple trigger when this workflow can run 
 workflow_dispatch:
 push:
  branches:
    - master
 pull_request:
    - master
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: clone the repo 
      uses: actions/checkout@v6
    - name: Insatll Python on runner 
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install Python dependencies
      run: |
        pip insatll --upgrade pip
        pip insatll -r requirements.txt
    - name: set PythonPath
      run: echo "PYTHONPATH"=$GITHUB_WORKSPACE >> $GITHUB_ENV
    - name: Run tests
      run: pytest tests --cov=app --cov-report=xml
