name: Build Python application
on: # multiple trigger when this workflow can run 
 workflow_dispatch:
 push:
   branches:
     - master
 pull_request:
   branches:
     - master
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: clone the repo 
      uses: actions/checkout@v6
    - name: Insatll Python ${{ vars.PYTHON_VERSION }} on runner 
      uses: actions/setup-python@v6
      with:
        python-version: ${{ var.PYTHON_VERSION }}
    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
